.foto-perfil {
    height: 100%;
    width: auto;
    max-width: 100%;
    border-radius: 50%;
  }

  .corPrimaria {
    background-color: #FFE4E1;
  }

  .corSecundaria {
    background-color: #D3D3D3;
  }

  p {
    font-family: Helvetica, sans-serif;
    color: black !important
  }

  .icones {
    padding-left: 5px;
  }

  .titulosCinzentos {
    text-underline-position: below;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color:#778899;
    font-family: Helvetica, sans-serif;
  }
  .textoPreto {
    color: #080707 !important;
  }


  .jumbotron {
    margin-bottom: 0px;
  }

  .textoFooter {
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  html {
    scroll-behavior: smooth;
  }

  .btn-outline-primary {
    align-items: center;
  }